<footer>
  <p>Thank you, he web is a big, big place with lots of people, places, and things to see. Thanks for visiting our little corner of the internet. (<a href="https://dbco.online/">*</a>)</p>
<ul>

  <li><a href="/colophon">Colophon</a></li>
  <li><a href="/blogroll">Blogroll</a></li>
  <li><a href="/ai">AI</a></li>
  <li><a href="/tags/uses/">Uses</a></li>
  <li><a href="/tags/now/">Now</a></li>
  <li><a href="#top">Back to top ↑</a></li>
</ul>

    <img src="/images/ttsp_logo.png" alt="TTSP logo centered on a white footer, featuring stylized text and soundwave elements" class="tts">
</footer>
</body>
</html>