<header class="site-header">
  <div class="site-header-inner">
    <h1 class="site-wordmark"><a href="/" class="site-logo"><img src="/images/cohete.png">Carlos Rodrigo</a></h1>
    <nav class="site-nav">
      <ul>
        

{% assign pages = site.pages | sort: 'url' %}
{% for p in pages %}
 
    {% unless p.url contains '_drafts' or p.url contains 'feed' or p.url contains '404' or p.url contains 'README' %}
  <li><a href="{{ p.url }}"{% if page.url == p.url %} class="current"{% endif %}>{{ p.title }}</a></li>
    {% endunless %}

{% endfor %}
</ul>
        
     
    </nav>

    <div class="tag-cloud">
      {% assign all_tags = site.posts | map: 'tags' | join: ',' | split: ',' | compact | uniq | sort %}
      {% for tag in all_tags %}
        {% unless tag == '' %}
        <a href="{{ '/tags/' | absolute_url }}{{ tag }}" class="tag-cloud-tag">{{ tag }}</a>
        {% endunless %}
      {% endfor %}
    </div>

  </div>
</header>
