<nav>
<ul id="nav-links">
<li><a href="/about/"{% if page.url contains '/about/' %} class="current"{% endif %}>About</a></li>
<li><a href="/"{% if page.url =='/' %} class="current"{% endif %}>Notes</a></li>
<li><a href="/reading/"{% if page.url contains '/reading/' %} class="current"{% endif %}>Reading</a></li>
<li><a href="/work/"{% if page.url contains '/work/' %} class="current"{% endif %}>Work</a></li>
<li><a href="/contact/"{% if page.url contains '/contact/' %} class="current"{% endif %} >Contact</a></li>
<li><a href="/blogroll/"{% if page.url contains '/blogroll/' %} class="current"{% endif %} >Blogroll</a></li>
<li><a href="/colophon/"{% if page.url contains '/colophon/' %} class="current"{% endif %} >Colophon</a></li>
</ul>
</nav>