<div class="tag-cloud-art">
  <a href="/tags/links"      class="tag-item tag-item--links"      style="background-image:url('/images/bg1.png')"><span>links</span></a>
  <a href="/tags/quotes"     class="tag-item tag-item--quotes"     style="background-image:url('/images/bg2.png')"><span>quotes</span></a>
  <a href="/tags/clippings"  class="tag-item tag-item--clippings"  style="background-image:url('/images/bg3.png')"><span>clippings</span></a>
  <a href="/tags/AI"         class="tag-item tag-item--ai"         style="background-image:url('/images/bg1.png')"><span>AI</span></a>
  <a href="/tags/reviews"    class="tag-item tag-item--reviews"    style="background-image:url('/images/bg2.png')"><span>reviews</span></a>
  <a href="/tags/projects"   class="tag-item tag-item--projects"   style="background-image:url('/images/bg3.png')"><span>projects</span></a>
  <a href="/tags/betterment" class="tag-item tag-item--betterment" style="background-image:url('/images/bg1.png')"><span>betterment</span></a>
  <a href="/tags/now"        class="tag-item tag-item--now"        style="background-image:url('/images/bg2.png')"><span>now</span></a>
</div>
