html{height:101%;}

body {
color: #333;
font: 400 15px/1.8 'Regular', Verdana, sans-serif;
overflow-y: scroll;
overflow-x: hidden;
cursor: default;
position: relative;
min-height: 100%;
height: 101%;
-webkit-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
text-rendering: optimizeLegibility;
}

.clear:before,
.clear:after {
content: ' ';
display: table;
}
.clear:after {
clear: both;
}
.clear {
clear: both;
}

hr{
clear:both;
width:100%;
margin:20px 0;

height:1px;
background:#eee;
border:0;
}

a {
	color: #0277bd;
	text-decoration: none;
	border: none;
	}
	
	a:hover {
	color: #ef5350;
	}

h1{
font-size:4em; 

margin:0;
float:left;}

h2{font: 700 2em/1.8 'Bold', Verdana, sans-serif;
margin:0;
}


h3{
margin:20px 0 0px;
width:100%;
float:left;
}

h4{
margin:0px 0 20px;
width:100%;
float:left;
text-transform:uppercase;

font-weight:600;

}
h5{
margin:10px 0 20px;
width:100%;
float:left;
font-weight:600;
font-size:1em;

}


#tab1{width:100%;
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-column-gap: 100px;
grid-row-gap: 50px;
padding: 0px 0 100px;
}

 #tab2{width:100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 100px;
    grid-row-gap: 50px;
    padding: 0px;
    }

.rss-box {

Line-height: 20px;
padding: 0px 0% 0px;
margin: 0px 0% 0px;
width: 100%;
}

.rss-title,
rss-title a {
font-weight: normal;
font-size: 1.5em;
color: #fff;
}

.rss-items {
padding: 0;
margin: 0px;
text-align: justify;
list-style: none;

}

.rss-item {
text-align: left;
padding: 0px;
margin: 0;
cursor: pointer;
overflow: hidden;
}

.rss-item:hover {
color: #291919;

}

a.rss-item {
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
text-decoration: none;
color: #404040;
border-bottom: 1px solid #EEE;
width: 100%;
padding: 6px 0 5px;
font-size: .9em;
}

.rss-item a:hover {
text-decoration: none;
color: #291919;
border-bottom: 1px solid #EEE;
}

input[type="text"], textarea {
  display: block;
  margin: 0;
  width: 100%;
border:0;
box-shadow: none;

font: 400 14px/1.5 roboto, Arial, sans-serif !important;

}
input[type="text"]:focus, textarea:focus {
  outline: none;
}


::-webkit-input-placeholder {
   color: #ccc;
   font-style:italic;
}

:-moz-placeholder { /* Firefox 18- */
   color: #ccc;
   font-style:italic;
}

::-moz-placeholder {  /* Firefox 19+ */
color: #ccc;
   font-style:italic;}

:-ms-input-placeholder {  
   color: #ccc;
   font-style:italic;
}

header{
float:left;
clear:both;
padding:10px 10%;
margin:0;

width:80%;

}

.left {
width: 48%;
float: left;
padding: 0 2% 0 0;
}
.right {
width: 48%;
float: right;
padding: 0 0 0 1%;
}

.box{
list-style-type:none; 
width:23%;
float:left;
margin:0 1% 20px 0;
}

.ancho{width:50%;}

ul{list-style-type:none; padding-left:0;margin:0;}

ol{ padding-left:20px;margin:0;}

.box ul{list-style-type:none; margin:20px 0; padding:0;}

.center{text-align:center;}
.small{font-size:.85em;}

#content{	
float:left;
clear:both;
padding:0 10%;
width:80%;
}

input[type=text],
input[type=email] {
    width: 50%;
    font-size: 1em;
    float: left;
    margin: 20px 25%;
    border-bottom: 1px solid #EEE;
    padding: 6px 0px;
}

::placeholder{color:#ddd;}

textarea:focus, input:focus{
outline: none;
}


.quicksearch{margin:50px 0;}

input[type=button],
input[type=submit],
input[type=reset] {

font-size: 1em;
float: left;
border: 0;
margin: 0px 0px 10px;
border: 2px solid #0277BE;
color: #0277BE;
background:#FFF;
padding: 5px 20px;
cursor: pointer;
font: inherit;
border-radius: 4px;
}

input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover {
font-size: 1em;
float: left;
border: 0;
margin: 0px 0px 10px 0px;
border: 2px solid #0277BE;
background: #0277BE;
color: #FFF;
padding: 5px 20px;
cursor: pointer;
font: inherit;
}

@media screen and (max-width: 375px) {

h1{font-size:2em;}
h2{font-size:1.1em;}

.left, .right{
float:left;
clear:both;
width:96%;}

#intro, .contacto, #content {
width:96%;padding:0 2%; margin:0;
}}

.pin-title, .boton {
color: #004A7F;
margin: 0px auto;
}

.pin-title:hover,.boton:hover {
color: #E25353;
}
.pin-description, .pin-tag{display:none;}

/*----- Tabs -----*/
.tabs {
	width:100%;
	display:inline-block;
}

ul.tab-links{padding:0;
border-bottom:1px solid #EEE;}

input.ruta{
    border:1px solid #EEE;
    background:#EEE;
    border-radius:3px;
    padding:5px;
    font-size:.85em !important;

}

.tab-links:after {
display:block;
clear:both;
content:'';
}

.tab-links li {
float:left;
list-style:none;
margin:9px 14px -1px 0;
padding-right:15px;
}

.tab-links a {

display:inline-block;
color:#A0A0A0;
padding-bottom:9px;
}



li.active a, li.active a:hover {
color:#333;
border-bottom:1px solid #333;
padding-bottom:10px;
}

.tab-content {
padding:0;

}

.tab{
display:none;
padding:20px 0;
}


 .fe_title {
display:none !important;
}

.meta{position:absolute; right:10%; top:40px; text-align: right;}


.tab.active {
display:block;
}

iframe{margin: 0;
padding: 0;
border: none;
width: 100%;
height: 450px;}

@font-face {
   font-family: Regular;
   src: url(/fonts/Inter-Regular.woff);
 }
 
 
 @font-face {
   font-family: Semibold;
   src: url(/fonts/Inter-SemiBold.woff);
 }
 
 
 
 @font-face {
   font-family: Bold;
   src: url(/fonts/CircularStd-Bold.otf);
 }
