{% include head.html %}
{% include header.html %}

<section>



{% assign sorted_tags = site.tags | sort %}
{% for tag in sorted_tags %}
<article>
<h3 id="tag-{{ tag[0] | slugify }}">{{ tag[0] | replace: '-', ' ' }}</h3>
<ul class="posts">
  {% assign tag_posts = tag[1] | sort: 'date' | reverse %}
  {% for post in tag_posts %}
  <li>
    <a href="{{ post.url }}">{{ post.title }}</a>
    <span class="post-date">{{ post.date | date: '%Y-%m-%d' }}</span>
  </li>
  {% endfor %}
</ul>
{% endfor %}

</article>
</section>

{% include footer.html %}
