{% include head.html %}
{% include header.html %}
<section>

<script async src="https://cse.google.com/cse.js?cx=e7f33aa98c2fd4211">
</script>
<div class="gcse-search"></div>

<h4>Pages</h4>
<ul class="archive" id="archive-pages">
{% assign all_pages = site.pages | sort: 'title' %}
{% for p in all_pages %}
{% unless p.title == nil or p.url contains '/tags/' or p.url == '/404.html' or p.layout == 'archive' %}
<li class="archive-item" data-search="{{ p.title | downcase | escape }}">
<a href="{{ p.url }}" class="archive-title">{{ p.title }}</a>
</li>
{% endunless %}
{% endfor %}
</ul>
<h4>Topics</h4>
{% include tagcloud.html %}






</section>


