{% include head.html %}
{% include header.html %}

<section >

  <h2>{{ page.title }}</h2>

  <ul class="books-grid">
  {% assign reading_posts = site.pages | where_exp: "p", "p.path contains 'reading'" | sort: "date" | reverse %}
  {% for post in reading_posts %}
  {% unless post.path == "reading/index.html" %}
  <li class="book-card">
    {% if post.cover %}
    <a href="{{ post.url }}"><img src="{{ post.cover }}" alt="{{ post.title }}"></a>
    {% endif %}
    <span class="{{ post.status }}">{{ post.status }}</span>
  </li>
  {% endunless %}
  {% endfor %}
  </ul>

</section>
