{% include head.html %}
<section>
<article class="hero">
<h1>Carlos Rodrigo</h1>
<span class="hero"><h4>FATHER, HUSBAND, INTERNET ENTHUSIAST</h4>
<p>
<script>
currentTime=new Date();
//getHour() function will retrieve the hour from current time
if(currentTime.getHours()<13)
document.write("Good morning!");
else if(currentTime.getHours()<17)
document.write("Good afternoon!");
else
document.write("Good evening!");
var weekday = new Array(7)
weekday[0] = " Sunday"
weekday[1] = " Monday"
weekday[2] = " Tuesday"
weekday[3] = " Wednesday"
weekday[4] = " Thursday"
weekday[5] = " Friday"
weekday[6] = " Saturday"
var currentDate = new Date()
weekdayValue = currentDate.getDay()
document.write(
" I hope you're having a great " + weekday[weekdayValue] + "!"
)
</script> <br/>I'm Carlos Rodrigo; A husband to Mar, a father to Lucas and Nico, a salesperson at Tecnica y Avance, and a human-friend to <a href="/2026/06/21/pancho/">Pancho</a>. </p>
</span>
</article>

<ul class="nav">
<li><a href="/information/">Information</a></li>
<li><a href="/notes/">Notes</a></li>
<li><a href="/work/">Work</a></li>
<li><a href="/tags/projects/">Projects</a></li>
<li><a href="/uses/">Uses</a></li>
<li><a href="/now/">Now</a></li>
<li><a href="/blogroll/">Blogroll</a></li>
<li><a href="mailto:rodrigoturner.carlos@gmail.com">rodrigoturner.carlos@gmail.com</a></li>
</ul>
</section>