{% include head.html %}
<div class="site-layout">
{% include header.html %}
<section>

    <article class="hero">
  <h2 class="hero-greeting" id="hero-greeting">
 <script>
currentTime=new Date();
//getHour() function will retrieve the hour from current time
if(currentTime.getHours()<13)
document.write("Good morning!");
else if(currentTime.getHours()<17)
document.write("Good afternoon!");
else
document.write("Good evening!");
var weekday = new Array(7)
weekday[0] = " Sunday"
weekday[1] = " Monday"
weekday[2] = " Tuesday"
weekday[3] = " Wednesday"
weekday[4] = " Thursday"
weekday[5] = " Friday"
weekday[6] = " Saturday"
var currentDate = new Date()
weekdayValue = currentDate.getDay()
document.write(
" I hope you're having a great" + weekday[weekdayValue] + "."
)
</script>
  </h2>
  <p class="hero-name"> Husband + Father.
I work at Técnica y Avance in Madrid, mostly turning data into decisions and sales. This is my website.</p>

 </article>   


{% for post in site.posts limit:15 %}
<article class="post {{ post.tags }}">
  <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
{{post.content}}
<span class="meta">{{post.tags}} · {{ post.date | date: '%Y%m%d' }} · <a href="mailto:rodrigoturner.carlos@gmail.com?subject={{ post.title }}">Reply by email</a></span>
<hr/>
</article>
{% endfor %}


    
           




</section>
</div>

