{% include head.html %}<div class="site-layout">
{% include header.html %}


<section>
<article>
  <h3>{{page.title}}</h3>

  

  {{content}}
  <span class="meta">{{post.tags}} · {{ post.date | date: '%Y%m%d' }} · <a href="mailto:rodrigoturner.carlos@gmail.com?subject={{ post.title }}">Reply by email</a></span>
<hr/>
</article>

<article>
  <h4>More notes</h4>
  <ul>
    {% assign other_posts = site.posts | where_exp: "p", "p.url != page.url" %}
    {% for p in other_posts limit: 5 %}
      <li><span class="meta">{{ p.date | date: '%Y%m%d' }}</span> · <a href="{{ p.url }}">{{ p.title }} </a></li>
    {% endfor %}
  </ul>
</article>

</section>
</div>
